<!-- Navigation -->
<nav class="site-nav">
  <div class="site-nav-inner">
    <a class="site-nav-brand" href="{{ site.baseurl }}/">陈松的个人博客</a>
    <ul class="site-nav-links">
      <li><a href="{{ site.baseurl }}/publications/" {% if page.url == '/publications/' %}class="on"{% endif %}>论文发表</a></li>
      <li><a href="{{ site.baseurl }}/categories/" {% if page.url == '/categories/' %}class="on"{% endif %}>博文目录</a></li>
      <li><a href="{{ site.baseurl }}/english/" class="lang-btn" {% if page.url == '/english/' %}style="background:#0f4c81;color:#fff"{% endif %}>English</a></li>
    </ul>
  </div>
</nav>