---
layout: default
---

<div class="academic-wrap">
  <aside class="academic-side">
    <div class="academic-avatar">陈</div>
    <h2 class="academic-name">陈松</h2>
    <div class="academic-en">Song Chen</div>
    <div class="academic-meta">
      <b>副教授</b><br>
      北京航空航天大学<br>
      杭州国际校园<br><br>
      <b>仿生智慧飞行实验室</b><br>
      Bio-inspired Intelligent Flight Lab
    </div>
    <div class="academic-contact">
      <p>✉ chensongcas@163.com</p>
    </div>
  </aside>
  <main class="academic-main">
    {{ content }}
  </main>
</div>